<ion-header> </ion-header>

<ion-content padding>
  <style>
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }

    .center50 {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 4em;
    }
  </style>

  <br /><br /><br />

  <!-- <img src="../assets/logo.png" class="center" /> -->
  <img src="../assets/logo.svg" class="center" />

 <form class="form-control">
<ion-item class="center50">

  <ion-select id="countries" name = "state"  label="" placeholder="Nationwide" [(ngModel)]="state" >
    <ion-select-option    value="all" >Nationwide</ion-select-option>
    <ion-select-option    value="AK">AK - Alaska</ion-select-option>
    <ion-select-option    value="AR">AR - Arkansas</ion-select-option>
    <ion-select-option    value="CA">CA - California</ion-select-option>
    <ion-select-option    value="CO">CO - Colorado</ion-select-option>
    <ion-select-option    value="HI">HI - Hawaii</ion-select-option>
    <ion-select-option    value="ID">ID - Idaho</ion-select-option>
    <ion-select-option    value="IL">IL - Illinois</ion-select-option>
    <ion-select-option    value="IN">IN - Indiana</ion-select-option>
    <ion-select-option    value="LA">LA - Louisiana</ion-select-option>
    <ion-select-option    value="MA">MA - Massachusetts</ion-select-option>
    <ion-select-option    value="MD">MD - Maryland</ion-select-option>
    <ion-select-option    value="MI">MI - Michigan</ion-select-option>
    <ion-select-option    value="MN">MN - Minnesota</ion-select-option>
    <ion-select-option    value="MO">MO - Missouri</ion-select-option>
    <ion-select-option    value="MT">MT - Montana</ion-select-option>
    <ion-select-option    value="NC">NC - North Carolina</ion-select-option>
    <ion-select-option    value="SC">SC - South Carolina</ion-select-option>
    <ion-select-option    value="TX">TX - Texas</ion-select-option>
    <ion-select-option    value="UT">UT - Utah</ion-select-option>
    <ion-select-option    value="VA">VA - Virginia</ion-select-option>
    <ion-select-option    value="VT">VT - Vermont</ion-select-option>
    <ion-select-option    value="WA">WA - Washington</ion-select-option>
    <ion-select-option    value="WV">WV - West Virginia</ion-select-option>
    
  </ion-select>
  
</ion-item>
 
 </form>


 



  <ion-button color="tertiary" (click)="scan()" class="center50">
    <!-- <ion-button color="tertiary" (click)="startScan()" class="center50"> -->
    <ion-icon name="camera" slot="start"></ion-icon>
    Click to Scan
  </ion-button>
  <!-- <button ion-button round (click)="scanCode()">Scan Code</button> -->
 
 
 


   <div style="text-align: center">
     *Your phone must be online to get the scan result.
    </div>
 

  <!-- <ion-list>
    <ion-item>
      <ion-input
        type="text"
        [value]="barcodes[barcodes.length - 1] ? barcodes[barcodes.length - 1].rawValue : ''"
      ></ion-input>
    </ion-item>
  </ion-list> -->
</ion-content>
